/* Block editor CSS only. Maybe editor fonts should be the same of frontend one */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* body refers to the editor wrapper because WP converted it */
body {
    font-family: 'Lato', sans-serif;
}


/* Let Gutenberg editor be similar like the frontend */
.editor-post-title__block .editor-post-title__input {
    font-family: 'Lato', sans-serif;
}

.wp-block {
    max-width: 900px;
}

.wp-block[data-align="wide"] {
    max-width: 1200px;
}

.wp-block[data-align="full"] {
    max-width: none;
}
