.site-header {
  width: 100%;
  transition: all 300ms ease-in-out;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  &.has-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .site-branding {
      flex-basis: 300px;
      a.custom-logo-link {
        width: 300px;
        display: none;
        @media (min-width: $mobile) {
          display: block;
        }
      }
      .logo-placeholder {
        width: 50px;
      }
    }
    .main-navigation {
      flex: 1;
      display: flex !important;
      justify-content: flex-end;
    }
  }
  .mobile-logo {
    display: block;
    width: 150px;
    @media (min-width: $mobile) {
      display: none;
    };
  }
}

.admin-bar {
  .site-header {
    &.fixed {
      margin-top: 32px;
    }
  }
}