.site-header {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    .site-branding {
      flex-basis: 300px;
      a.custom-logo-link {
        width: 300px;
        display: none;
        @media (min-width: 1200px) {
          display: block;
        }
      }
    }
    .main-navigation {
      flex: 1;
      display: flex !important;
      justify-content: flex-end;
    }
  }
  &::before {
    height: 100%;
    width: 890px;
    pointer-events: none;
    position: absolute;
    right: 20%;
    top: 0;
    bottom: 0;
    background-color: $color__primary;
    z-index: -1;
    transform: skew(-29deg);
  }
  .mobile-logo {
    display: block;
    width: 150px;
    @media (min-width: 1200px) {
      display: none;
    };
  }
}