.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    align-items: stretch;
    grid-gap: 1rem;
}

.page-layout-1 {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
            "header header header header"
            "main main main main"
            "footer footer footer footer";
}

.page-layout-2 {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
            "header header header header"
            "main main main aside"
            "footer footer footer footer";
}

.page-layout-3 {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
            "header header header header"
            "aside main main main"
            "footer footer footer footer";
}

.page-layout-4 {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
            "aside main main main"
            "aside footer footer footer";
}

.page-layout-5 {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
            "main main main aside"
            "footer footer footer aside";
}

.page-layout-1,
.page-layout-2,
.page-layout-3,
.page-layout-4,
.page-layout-5 {
    margin-bottom: 50px;
}

.section-layout-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    grid-gap: 1rem;
}
.section-layout-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: stretch;
    grid-gap: 1rem;
}
.section-layout-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: stretch;
    grid-gap: 1rem;
}
.section-layout-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: stretch;
    grid-gap: 1rem;
}
.section-layout-5 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    grid-gap: 1rem;
}
.section-layout-6 {
    display: grid;
    grid-template-columns: 1fr, 2fr;
    grid-template-rows: auto;
    align-items: stretch;
    grid-gap: 1rem;
}

/* TODO: */
/* tag or html tag class names? */

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}