/*Block editor palette colors*/

.has-primary-background-color {
  background-color: #162E47;
}

.has-primary-color {
  color: #162E47;
}

.has-light-background-color {
 background-color: #E3DEEB;
}

.has-light-color {
  color: #E3DEEB;
}
